@import "~bootstrap/scss/bootstrap";
@import '~react-toastify/dist/ReactToastify';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#footer {
  background-color: rgb(60, 60, 60, 0.8)
}

.carousel-item {
  background-color: rgb(60, 60, 60);
}

.bg-overlay {
  background-image: url("/src/images/bg2.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#root {
  background-color:rgba(226, 234, 242, 0.8);
}

#pages-new-guitar {
  max-width: 600px;
}

@media (max-width: 768px) {
  #carousel-image {
    height: 400px;
  }

  header h1{
    font-size: 3em !important;
  }
}
